body {
  margin: 0;
  height: 2000px;
}

section {
  height: 800px;
  background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg)
    fixed no-repeat;
  background-size: 100%;
}

.photo {
  position: absolute;
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Spring2_pick_img.png);
  top: 100px;
  right: 600px;
  width: 612px;
  height: 411px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation: imgSlide 1.5s ease-out forwards;
}

@keyframes imgSlide {
  from {
    right: -500px;
    opacity: 0;
  }
  to {
    right: 600px;
    opacity: 1;
  }
}

@keyframes imgDisAppear {
  from {
    right: 600px;
    opacity: 1;
  }
  to {
    right: -500px;
    opacity: 0;
  }
}

/* PICK YOUR FAVORITE */
/* .fav_prod_txt01 {
  font-size: 6em;
  width: 258px;
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 80px;
  left: 500px;
  animation: slide 2s ease-out;
} */

.fav_prod_txt01 {
  background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_txt01.png)
    no-repeat;
  height: 204px;
  left: 900px;
  position: absolute;
  top: 120px;
  width: 258px;
  animation: txt01_slide 1s ease-out;
}

@keyframes txt01_slide {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 900px;
    opacity: 1;
  }
}

@keyframes txt01_disAppear {
  from {
    left: 900px;
    opacity: 1;
  }
  to {
    left: -100px;
    opacity: 0;
  }
}

.fav_prod_txt02 {
  background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_txt02.png)
    no-repeat;
  height: 156px;
  left: 792px;
  position: absolute;
  top: 370px;
  width: 362px;
  animation: txt02_slide 1.5s ease-out;
}

@keyframes txt02_slide {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 792px;
    opacity: 1;
  }
}

@keyframes txt02_disAppear {
  from {
    left: 792px;
    opacity: 1;
  }
  to {
    left: -100px;
    opacity: 0;
  }
}
.btn_fav_prod {
  border: 1px solid #fff;
  border-radius: 5px;
  height: 34px;
  left: 1028px;
  position: absolute;
  top: 570px;
  width: 121px;
  animation: btn_Appear 1s;
}

.btn_fav_prod a {
  color: #fff;
  display: block;
  font-size: 14px;
  height: 100%;
  line-height: 34px;
  text-align: center;
  width: 100%;
  -webkit-transition: background-color 0.7s, color 0.7s;
  transition: background-color 0.7s, color 0.7s;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  color: #666;
  background: transparent;
  cursor: pointer;
}

.btn_fav_prod a:hover {
  color: black;
  background-color: white;
  text-decoration: underline;
}

@keyframes btn_Appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes btn_disAppear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
